HELP.md
target/
![.mvn/**/maven-wrapper.jar]
![.mvn/**/maven-wrapper.properties]
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
